* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100vh;

  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
main {
}
#background1 {
  font-family: "Poppins", sans-serif;
  opacity: 1;
  height: 1070px;
  position: absolute;
  bottom: -150px;
}
